* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Fuentes
@font-face {
  font-family: arimo;
  src: url(../media/fonts/Arimo-VariableFont_wght.ttf);
}

@font-face {
  font-family: patua;
  src: url(../media/fonts/PatuaOne-Regular.ttf);
}

body {
  background-repeat: repeat;
  background-size: 20% auto;
  background-image: url(../media/wa1.jpg);
}


$color1: #D1E3FF;
$color2: #8FA5C7;
$color3: #F58742;

// Barra de navegación - Inicio
.navbar {
  height: 100px;
  background-color: $color2;
}

.nav-item {
  font-family: patua;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 20px 0px 20px;
  margin: 0px 5px 0px 5px;
}

.nav-link {
  color: black;
  background-color: $color2;

  &:hover {
    color: $color3;
    background-color: $color2;
  }
}

.navbar-toggler{
  background-color: $color1;
  color: $color3;
  font-size: 18px;
}

.logo {
  width: 200px;
  height: auto;
  border-radius: 500px;
  border: black solid 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

// Barra de navegación - Final

.introduccion {
  height: auto;
  width: 75%;
  background-color: $color2;
  color: black;
  padding: 15px;
  margin: 150px auto auto auto;
  text-align: center;

  & h1 {
    font-family: patua;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 0px 15px 0px;
  }

  & p {
    font-family: arimo;
    text-align: left;
    font-size: 20px;
    padding: 20px 25px 0px 25px;
  }
}

//Carrusel - Inicio

.imagenes{
  border: solid $color3 2px;
  margin: 35px auto 0px auto;
  display: flex;
  width: 90%;
  height: 350px;

  & img{
    border: solid $color3 2px;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 1.8s ease;
  }

  & img:hover{
    width: 25%;
    filter: contrast(150%);
  }
}

//Carrusel - Final
//Simulador - Inicio

.simuladorYformulario {
  color: black;
  height: auto;
  width: 75%;
  margin: 30px auto 0px auto;
  padding: 15px;
  background-color: $color2;
  text-align: center;

  & input,
  select {
    text-align: center;
  }

  & h2 {
    color: black;
    padding: 10px 0px 10px 0px;
    font-family: patua;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  & h3 {
    color: black;
    padding: 10px 0px 10px 0px;
    font-family: patua;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  p {
    color: black;
    padding: 10px 10px 10px 10px;
    font-family: arimo;
    text-align: left;
    font-size: 20px;
  }
}

.conversorContenedor{
  margin: 15px 10px 15px 10px;;
}

.conversor {
  background-color: $color1;
  box-shadow: 2px 2px 15px $color3, -2px -2px 15px $color3;
  margin: 10px auto 10px auto;
  text-align: center;

  & label{
    font-weight: bold;
  }

  & select {
    text-align: center;
    box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
  }
  & input{
    text-align: center;
    box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
  }

  & button{
    font-size: 18px;
  }

  & .resultado{
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px $color3, -2px -2px 4px $color3;
  }
}

.seccionesSimulador {
  background-color: $color1;
  box-shadow: 2px 2px 4px $color3, -2px -2px 4px $color3;
  margin: 15px 10px 15px 10px;

  & input {
    box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
    margin: 10px auto 10px auto;
  }

  & select {
    box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
    margin: 10px auto 10px auto;
  }

  & .aclaraciones{
    margin: 0;
    padding: 0px 10px 10px 10px;
    font-size: 16px;
  }

  & .lista{
    list-style-type: none;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.seccionesResultados{
  background-color: $color1;
  box-shadow: 2px 2px 4px $color3, -2px -2px 4px $color3;
  margin: 15px 10px 15px 10px;

  & p{
    padding: 3px 0px 1px 10px;
    font-size: 17px;
  }
}

.recomendaciones{
  color: $color3 !important;
  font-weight: bold;
}

//Simulador - Final
// Formulario - Inicio

.seccionFormulario {
  margin: 15px 10px 15px 10px;
  padding: 5px;
  font-family: arimo;
  font-size: 20px;
  text-align: center;

  & input{
    box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
  }

  & textarea{
  box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;
  margin: auto;
  font-family: arimo;
  height: 150px;
  text-align: center;
}
}

.boton {
  margin: 10px auto 10px auto;
  padding: 2px 5px 2px 5px;
  font-family: patua;
  width: 100px;
  color: $color1;
  background-color: $color2;
  box-shadow: 2px 2px 4px $color3, -2px -2px 4px $color3;

  &:hover{
    color: $color2;
    background-color: $color3;
    box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color2;

  }
}

// Formulario - Final
// Footer - Inicio
.pieDePagina {
  width: auto;
  height: 100px;
  background-color: $color2;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.redes {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 25px;
  color: black;
  white-space: nowrap;

  &:hover {
    color: $color3;
  }
}

.derechos {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  white-space: normal;
}

.botonTop{
  font-size: 55px;
  position: fixed;
  right: -10px;
  bottom: 50px;
}


// Footer - Final

// MediaQueries

@media screen and (max-width: 450px) {
  .navbar {
    height: 75px;
  }
  
  .nav-item {
    font-size: 16px;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
  }
  
  .nav-link {
    padding: 5px 0px 5px 15px;
    color: black;
  }
  
  .logo {
    width: 125px;
    border-radius: 500px;
    border: black solid 4px;
    right: 0;
    left: auto;
    transform: translateX(0);
  }

  .introduccion {
    width: 90%;
    padding: 5px;
    margin: 90px auto auto auto;
  
    & h1 {
      font-size: 33px;
      padding: 5px 0px 5px 0px;
    }
  
    & p {
      font-size: 16px;
      padding: 10px 15px 0px 15px;
    }
  }

  .simuladorYformulario {
    width: 90%;
    padding: 15px;
    
    & h2 {
      padding: 5px 0px 5px 0px;
      font-size: 29px;
    }
  
    & h3 {
      padding: 5px 0px 5px 0px;
      font-size: 23px;
    }
  
    p {
      padding: 5px 10px 5px 10px;
      font-size: 16px;
    }
  }

  .conversor {
    margin: 10px auto 10px auto;
  }

  .seccionFormulario {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .areaTexto {
    font-family: arimo;
    height: 75px;
  }
  
  .pieDePagina {
    height: 75px;
    margin-top: 30px;
  }
  
  .redes {
    font-size: 30px;
    letter-spacing: 10px;
  }
  
  .derechos {
    font-size: 13px;
  }

  .botonTop{
    right: 2px;
    bottom: 55px;
  }
  
}

@media screen and (min-width: 450px) and (max-width: 600px) {
  .navbar {
    height: 75px;
  }
  
  .nav-item {
    font-size: 16px;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
  }
  
  .nav-link {
    padding: 5px 0px 5px 15px;
  }
  
  .logo {
    width: 150px;
    border-radius: 500px;
    border: black solid 4px;
  }

  .introduccion {
    width: 90%;
    padding: 5px;
    margin: 90px auto auto auto;
  
    & h1 {
      font-size: 33px;
      padding: 5px 0px 5px 0px;
    }
  
    & p {
      font-size: 16px;
      padding: 10px 15px 0px 15px;
    }
  }

  .simuladorYformulario {
    width: 90%;
    padding: 15px;
    
    & h2 {
      padding: 5px 0px 5px 0px;
      font-size: 29px;
    }
  
    & h3 {
      padding: 5px 0px 5px 0px;
      font-size: 23px;
    }
  
    p {
      padding: 5px 10px 5px 10px;
      font-size: 16px;
    }
  }

  .conversor {
    margin: 10px auto 10px auto;
  }

  .seccionFormulario {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .areaTexto {
    font-family: arimo;
    height: 75px;
  }
  
  .pieDePagina {
    height: 75px;
    margin-top: 30px;
  }
  
  .redes {
    font-size: 35px;
    letter-spacing: 20px;
  }
  
  .derechos {
    font-size: 16px;
  }

  .botonTop{
    right: -15px;
    bottom: 45px;
  }
  
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .nav-link {
    padding: 5px 0px 5px 15px;
  }

  .botonTop{
    right: -15px;
    bottom: 55px;
    font-size: 45px;
  }

}
